* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html[data-mantine-color-scheme="light"] {
  --mantine-color-body: #f9f9f9 !important; /* your custom light background */
  --mantine-color-text: #31333b !important; /* your custom light text */
  --secondary-theme-color: #c8522a;
}

html[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #121212; /* your custom dark background */
  --mantine-color-text: #31333b; /* your custom dark text */
  --secondary-theme-color: #ffc86b;
}

body {
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
}
